.img-list-container {
    display: flex;
    width: 80vw;
    overflow-x: auto;
    position: absolute;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.img-list-item {
    margin-right: 10px;
}

.galeria-back {
    background-image: url("/images/back-galeria.jpg");
    position: absolute;
    background-size: 100%;
    width: 99%;
    height: 98%;
    top: 0%;
    left: 0%;
    margin-right: -50%;
    transform: translate(0%, 0%);
}

.galeria-large {
    height: 460px;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%)
}