.img-list-container {
    display: flex;
    width: 80vw;
    overflow-x: auto;
    position: absolute;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.img-list-item {
    margin-right: 10px;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;

    * {
        margin: 0;
        padding: 0;
    }

    div {
        display: block;
    }
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

.galeria-large {
    height: 460px;
    margin-top: 140px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%)
}
