#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;

    * {
      margin: 0;
      padding: 0;
    }

    div {
        display: block;
    }
}
#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

.button-videos {
    width: 500px;
    margin-top: 65%;
}

.players {
    position: absolute;
    margin-left: 140px;
    margin-top: 8%;
    width: 900px;
    height: 500px;
    display: block;
}

.video-item {
    width: 400px;
    height: 300px;
    margin-left: 40px;
    margin-bottom: 25px;
    display: -webkit-inline-box;
}

.button-group {
    display: block;
    width: 300px;
    margin-left: 60%;
    margin-top: 10%;
    position: absolute;
}